.map-outer-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    --tile-resolution: 256px;
}

.map-inner-container {
    position: absolute;
}

.map-row {
    width: 200%;
    height: var(--tile-resolution);
    font-size: 0;
    position: relative;
}

.map-row img {
    width: var(--tile-resolution);
    height: var(--tile-resolution);
    position: absolute;
    top: 0;
}
